/* Reset básico para evitar diferenças entre navegadores */
* {
  margin: 0; /* Remove margem padrão */
  padding: 0; /* Remove espaçamento interno padrão */
  box-sizing: border-box; /* Faz padding e border não aumentarem o tamanho do elemento */
  font-family:'Times New Roman', Times, serif /* Define fonte padrão */
}

/* ================= CORPO DA PÁGINA ================= */
body {
  padding: 0 3px; /* Espaço nas laterais da página */
  background: rgb(255, 255, 255); /* Cor de fundo do site */
}

/* ================= HEADER ================= */
.header {
  display: flex; /* Coloca logo e menu lado a lado */
  justify-content: space-between; /* Espaço entre logo (esquerda) e menu (direita) */
  padding: 15px 40px; /* Espaçamento interno */
  background: #688b00; /* Cor de fundo do cabeçalho */
  color: rgb(255, 255, 255); /* Cor do texto */
}

/* Links do menu */
.header nav a {
  color: rgb(255, 255, 255); /* Cor dos links */
  margin-left: 20px; /* Espaço entre os links */
  text-decoration: none; /* Remove sublinhado */
}

/* Botões do menu */
.btn {
  display: inline-block; /* Permite aplicar padding e tamanho */
  padding: 10px 15px; /* Espaçamento interno */
  background-color: #d63384; /* Cor rosa */
  color: white; /* Texto branco */
  text-decoration: none; /* Remove sublinhado */
  border-radius: 5px; /* Bordas arredondadas */
  margin: 5px; /* Espaço externo */
}

/* Efeito ao passar o mouse */
.btn:hover {
  background-color: #a61e5c; /* Cor mais escura */
}

/* Container do botão Login/Cadastrar */
.menu-login {
  position: relative; /* Base para posicionar o dropdown */
  display: inline-block; /* Ocupa só o tamanho do conteúdo */
}

/* Caixa que aparece ao passar o mouse */
.dropdown {
  display: none; /* Escondido por padrão */
  position: absolute; /* Fica flutuando */
  top: 45px; /* Distância do topo */
  right: 0; /* Alinha à direita */
  background: rgb(132, 155, 68); /* Cor de fundo */
  padding: 15px; /* Espaço interno */
  width: 220px; /* Largura */
  border-radius: 8px; /* Bordas arredondadas */
  box-shadow: 0 5px 15px rgba(0,0,0,0.2); /* Sombra */
  text-align: center; /* Centraliza conteúdo */
}

/* Mostra o dropdown ao passar o mouse */ /* Garante que o menu fique acima de outros elementos */
.menu-login:hover .dropdown {
  display: block; /* Faz aparecer */
  z-index: 10; /* Fica na frente */
}

/* Botão "Acessar minha conta" */
.acessar {
  width: 100%; /* Ocupa toda largura */
  padding: 10px; /* Espaçamento interno */
  background: #0f7b4c; /* Verde */
  color: rgb(255, 255, 255); /* Texto branco */
  border: none; /* Remove borda */
  border-radius: 5px; /* Bordas arredondadas */
  cursor: pointer; /* Cursor de clique */
}

/* Hover do botão acessar */
.acessar:hover {
  background: #0c5e3a; /* Verde mais escuro */
}

/* Texto dentro do dropdown */
.dropdown p {
  margin-top: 10px; /* Espaço acima */
  font-size: 14px; /* Tamanho da fonte */
}

/* Link cadastrar */
.dropdown a {
  color: green; /* Cor do link */
  text-decoration: none; /* Remove sublinhado */
  font-weight: bold; /* Negrito */
}

/* ================= ÁREA TOTAL DOS PRODUTOS ================= */
.produtos{
  padding: 40px; /* Espaço interno da seção */
}

/* Título da seção */
.produtos h2{
  margin-bottom: 20px; /* Espaço abaixo */
  font-size: 30px; /* Tamanho do texto */
}

/* ================= GRID DOS PRODUTOS ================= */
.produtos-grid{
  display: grid; /* Ativa grid */
  
  /* Agora cards menores */
  grid-template-columns: repeat(auto-fit, minmax(180px, 220px));

  justify-content: center; /* Centraliza os cards */
  gap: 18px; /* Espaço entre eles */
}


/* ================= CARD DO PRODUTO ================= */
.card-produto{
  position: relative;
  background: #fff;
  border: 1px solid rgb(172, 172, 172);
  border-radius: 10px;

  padding: 12px; /* Menor espaço interno */

  width: 220px; /* Largura fixa menor */
  min-height: 430px; /* Altura menor */

  text-decoration: none;
  color: #000;
  transition: 0.3s;
}


/* Hover */
.card-produto:hover{
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.10);
}


/* ================= IMAGEM ================= */
.card-produto img{
  width: 100%;
  height: 150px; /* Imagem menor */
  object-fit: contain;
  margin-bottom: 10px;
}


/* ================= MARCA ================= */
.card-produto h3{
  font-size: 14px;
  margin-bottom: 4px;
}


/* ================= NOME ================= */
.nome{
  font-size: 15px;
  min-height: 42px;
}


/* ================= PREÇO ================= */
.preco{
  font-size: 20px; /* Menor */
  font-weight: bold;
}

/* ================= PREÇO ANTIGO ================= */
.antigo{
  font-size: 14px; /* Tamanho menor */
  color: gray; /* Cor cinza */

  text-decoration: line-through; /* Linha riscada */
  text-decoration-thickness: 2px; /* Espessura do risco */
  text-decoration-color: #777; /* Cor da linha */

  margin-bottom: 4px; /* Espaço abaixo */
  display: block; /* Fica em linha separada */
}

/* ================= PARCELAMENTO ================= */
.parcelado{
  font-size: 14px;
}


/* ================= BOTÃO ================= */
.card-produto button{
  width: 42px;
  height: 42px;
  border: none;
  background: teal;
  color: white;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
}

/* Hover botão */
.card-produto button:hover{
  background: #006666;
}
/* ================= CARROSEL   ================= */
/* ================= ÁREA TOTAL ================= */
.hero-slider{
  width:100%; /* Largura total */
  height:90vh; /* Altura da tela */
}

/* ================= CADA SLIDE ================= */
.slide-item{
  position:relative; /* Base para texto */
}

/* ================= IMAGEM ================= */
.slide-item img{
  width: 45%;
  height:90vh;
  object-fit:cover; /* Preenche espaço */
}

/* ================= CAMADA ESCURA ================= */
.slide-item::after{
  content:"";
  position:absolute;
  inset:0;
  background:rgba(0,0,0,0.35);
}

/* ================= TEXTO ================= */
.overlay{
  position:absolute;
  top:50%;
  left:10%;
  transform:translateY(-50%);
  color:#fff;
  z-index:10;
  max-width:500px;
}

/* Título */
.overlay h2{
  font-size:60px;
  margin-bottom:15px;
}

/* Parágrafo */
.overlay p{
  font-size:20px;
  margin-bottom:25px;
}

/* Botão */
.overlay a{
  display:inline-block;
  background:#688b00;
  color:#fff;
  padding:14px 28px;
  text-decoration:none;
  border-radius:30px;
  transition:0.3s;
}

/* Hover botão */
.overlay a:hover{
  background:#4e6800;
}

/* ================= SETAS ================= */
.swiper-button-next,
.swiper-button-prev{
  color:#fff;
}

/* ================= BOLINHA ATIVA ================= */
.swiper-pagination-bullet-active{
  background:#fff;
}

/* ================= RESPONSIVO ================= */
@media(max-width:768px){

  .hero-slider,
  .slide-item img{
      height:70vh;
  }

  .overlay h2{
      font-size:34px;
  }

  .overlay p{
      font-size:16px;
  }

}